node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnp*
.yarn/cache
.yarn/unplugged
.yarn/install-state.gz
.npmrc
.yarnrc.yml
.pnpm-store/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
dist
build
coverage
.nyc_output
.cache
.eslintcache
.prettiercache
.stylelintcache
output*
out*
report*
tmp*
temp*
pycache/
*.log
*.lock
pids
logs